* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

body {
  scroll-behavior: smooth;
  -webkit-animation: color-fade 45s infinite;
          animation: color-fade 45s infinite;
}

@-webkit-keyframes color-fade {
  0% {
    background: #006eff;
  }
  15% {
    background: #1eff29;
  }
  30% {
    background: #ff820e;
  }
  45% {
    background: #b700ff;
  }
  60% {
    background: #ff0101;
  }
  75% {
    background: #eeff01;
  }
  90% {
    background: #2dc277;
  }
  100% {
    background: #006eff;
  }
}

@keyframes color-fade {
  0% {
    background: #006eff;
  }
  15% {
    background: #1eff29;
  }
  30% {
    background: #ff820e;
  }
  45% {
    background: #b700ff;
  }
  60% {
    background: #ff0101;
  }
  75% {
    background: #eeff01;
  }
  90% {
    background: #2dc277;
  }
  100% {
    background: #006eff;
  }
}

nav {
  margin-top: 10px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 5;
}

nav a {
  color: rgba(26, 26, 26, 0.336);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

nav a:hover {
  cursor: auto;
}

nav a i {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

nav a i:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #202020;
  cursor: pointer;
}

nav .changingText {
  margin-left: 0px;
  width: 100vw;
  height: 60px;
  font-size: 30px;
  text-align: center;
  color: #202020;
}

article h3, h2, h1 {
  color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Name {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Name h1 {
  font-size: 4em;
  text-align: center;
}

.Describe {
  margin-top: 150px;
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Describe p {
  color: #202020;
  text-align: justify;
  font-size: 2em;
  margin-left: 25%;
  margin-right: 25%;
}

.Works {
  height: 630px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Works .caseOne {
  margin-left: 40px;
  margin-right: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 420px;
          flex: 0 420px;
  height: 200px;
  background: url("../img/restoImg.jpg");
  background-position: top;
  background-size: cover;
  margin-bottom: 30px;
}

.Works .caseOne:hover {
  cursor: pointer;
}

.Works .caseTwo {
  margin-left: 40px;
  margin-right: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 420px;
          flex: 0 420px;
  height: 200px;
  background: url("../img/td2Img.jpg");
  background-position: top;
  background-size: cover;
  margin-bottom: 30px;
}

.Works .caseTwo:hover {
  cursor: pointer;
}

.Works .caseThree {
  margin-left: 40px;
  margin-right: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 420px;
          flex: 0 420px;
  height: 200px;
  background: url("../img/allezcineImg.jpg");
  background-position: top;
  background-size: cover;
}

.Works .caseThree:hover {
  cursor: pointer;
}

.Works .caseFour {
  margin-left: 40px;
  margin-right: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 420px;
          flex: 0 420px;
  height: 200px;
  background: url("../img/hitmanImg.jpg");
  background-position: top;
  background-size: cover;
}

.Works .caseFour:hover {
  cursor: pointer;
}

.Works section {
  font-size: 2em;
  margin-top: 15px;
  opacity: 0.4;
}

.Contact {
  height: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contact a {
  color: #202020;
}

.Contact .fa-facebook-square {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.Contact .fa-facebook-square:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #174dff;
}

.Contact .fa-linkedin {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.Contact .fa-linkedin:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #005a7e;
}

.Contact .fa-github-square {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.Contact .fa-github-square:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #f1f0b3;
}

.Contact .fa-codepen {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.Contact .fa-codepen:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #523563;
}

.Contact .fa-twitter-square {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.Contact .fa-twitter-square:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #31f8ff;
}

.Contact .fa-envelope-square {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.Contact .fa-envelope-square:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #ff1e00;
}

@media screen and (max-width: 360px) {
  nav .changingText {
    height: 45px;
    font-size: 20px;
  }
  .Name h1 {
    font-size: 30px;
  }
  .Name h2 {
    font-size: 20px;
  }
  .Describe p {
    font-size: 1em;
    font-weight: bolder;
    margin-left: 5%;
    margin-right: 5%;
  }
  .Works {
    padding-top: 80px;
    height: 730px;
  }
  .Works .caseOne, .Works .caseTwo, .Works .caseThree, .Works .caseFour {
    margin: 10px;
    height: 160px;
  }
  .Works section {
    font-size: 1em;
    margin-top: 15px;
    width: 280px;
    text-align: center;
  }
  .Contact {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 730px;
  }
  .Contact .fa-facebook-square, .Contact .fa-linkedin, .Contact .fa-github-square, .Contact .fa-codepen, .Contact .fa-twitter-square, .Contact .fa-envelope-square {
    width: 100px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
